@media all and (min-width: 1650px) {
	.container {
	    width: 80% !important;
	}
	ul.list-menu a {
	    font-size: 19px;
	}
	#title h4 {
	    font-size: 38px;
	}
	.ls-home-overview .title {
	    font-size: 25px;
	}
	.title span {
	    font-size: 23px;
	}
	.ls-sub-overview li {
	    font-size: 20px;
	}
	.home-title .title {
	    font-size: 40px;
	}
	.box-left p {
	    font-size: 18px;
	}
	.box-left1 p{
		font-size: 18px;
	}
	.bt-control span{
		font-size: 18px;
	}
	.bt-submit, .small-title {
	    font-size: 25px;
	}
	.medium-title {
	    font-size: 29px;
	}
	.box-media-body p {
	    font-size: 21px;
	}
	img.box-media1 {
		margin: 0px auto;
	    display: block;
	    width: 100%;
	}
}
@media all and (min-width: 1920px) {
	.section-two .box-left {
	    background-size: cover;
	}
	.section-two .box-left, .section-two .box-left1 {
	    padding-left: calc((100% - 1500px)/ 2);
	}
	.box-left1 p {
	    font-size: 21px;
	    margin-top: 4%;
	}
	.box-left p {
	    font-size: 22px;
	}
	.box-media-body p {
	    font-size: 23px;
	}
	.menu {
	    height: 75px;
	}
	#home {
	    width: 71px;
	    height: 80px;
	}
	.fa-home {
	    font-size: 39px !important;
	    margin-top: 19px;
	    margin-left: 18px;
	}
	ul.list-menu a {
	    font-size: 21px;
	}
}
@media only screen and (min-width: 1024px) and (max-width: 1200px) {
	img.box-media1 {
		margin: 0px auto;
	    display: block;
	    width: 100%;
	}
	.ls-tooltip .item.item1 {
	    left: 264px;
	}
	.ls-tooltip .item.item2 {
	    left: 610px;
	}
	.section-two .box-right {
	    max-width: 730px;
	}
	.section-two .box-left, .section-two .box-left1 {
	    padding-left: calc((100% - 900px)/ 2);
	}
	.home-title .title {
	    font-size: 23px;
	}
	.box-left p {
	    font-size: 14px;
	}
	ul.list-menu a {
	    font-size: 13px;
	}
	.pad p {
	    font-size: 17px;
	}
}
@media only screen and (min-width: 992px) and (max-width: 1024px) {
	img.box-media1 {
		margin: 0px auto;
	    display: block;
	    width: 100%;
	}
	.ls-tooltip .item.item1 {
	    left: 264px;
	}
	.ls-tooltip .item.item2 {
	    left: 610px;
	}
	.section-two .box-right {
	    max-width: 730px;
	}
	.section-two .box-left, .section-two .box-left1 {
	    padding-left: calc((100% - 900px)/ 2);
	}
	.home-title .title {
	    font-size: 23px;
	}
	.box-left p {
	    font-size: 14px;
	}
	ul.list-menu a {
	    font-size: 13px;
	}
	.pad p {
	    font-size: 17px;
	}
	.slide {
	     padding-top: 0px; 
	     margin-top: -30px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
	.menu-mobie{
		display: block;
		z-index: 1999;
	}
	.ls-tooltip .item.item1 {
	    left: 146px;
	}
	.ls-tooltip .item.item2 {
	    left: 427px;
	}
	.banner {
	    margin-top: 0px;
	}
	.menu{
		display: none;
	}
	.topnav a:not(:first-child) {
		display: none;
	}
	.topnav a.icon {
		float: right;
		display: block;
	}
	.topnav.responsive {
		position: relative;
	}
	.topnav.responsive .icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	.topnav.responsive a {
		float: none;
		display: block;
		text-align: left;
	}
	img.box-media1 {
		margin: 0px auto;
	    display: block;
	    width: 100%;
	}
	.section-two .box-right {
	    max-width: 730px;
	}
	.section-two .box-left, .section-two .box-left1 {
	    padding-left: calc((100% - 900px)/ 2);
	}
	.home-title .title {
	    font-size: 23px;
	}
	.box-left p {
	    font-size: 14px;
	}
	ul.list-menu a {
	    font-size: 13px;
	}
	.pad p {
	    font-size: 17px;
	}
	.slide {
	    padding-top: 0px;
	    margin-top: -10px;
	}
	.menu-mobie{
		position: relative;
	}
	#lienhe{
		position: absolute;
	    top: 0px;
	    right: 19%;
	    width: 22%;
	}
	.css-modal{
		top:78px;
	}
	.topnav.responsive a:hover {
		background: #5c9a43;
	}
	.section-two .box-left, .section-two .box-left1 {
	    max-width: 100%;
	    padding-left: calc((100% - 1140px)/ 2);
	    padding-right: 150px;
	    z-index: 1;
	}
	.section-two .box-right {
    	position: relative !important; 
	    top: 0;
	    right: 0;
	    max-width: 950px;
	    z-index: -1;
	}
	.section-two .box-left, .section-two .box-left1 {
	    padding-left: calc((100% - 800px)/ 2);
	}
	.reson{
		height: auto !important;
	}
	.reson-1 {
	    top: 0px;
	    left: 0px;
	    position: none;
	    width: 100%;
	}
	.reson-2 {
	    right: 0px;
	    top: 0px;
	    position: absolute;
	}
	.reson-3 {
	    position: none; 
	    float:left;
	    width: 13%;
	}
	.reson-4 {
	    position: initial !important;
	    width: 62%;
	    float: left;
	    margin-top: 16%;
	    margin-left: 32%;
	}
	.reson-5 {
	    position: initial !important;
	    width: 100%;
	    float: left;
	}
}
@media only screen and (min-width: 480px) and (max-width: 768px) {

	.reson{
		height: auto !important;
	}
	.banner {
	    margin-top: 0px;
	}
	.reson-1 {
	    top: 0px;
	    left: 0px;
	    position: none;
	    width: 100%;
	}
	.reson-2 {
	    right: 0px;
	    top: 0px;
	    position: absolute;
	}
	.reson-3 {
	    position: none; 
	    float:left;
	    width: 13%;
	}
	.reson-4 {
	    position: initial !important;
	    width: 62%;
	    float: left;
	    margin-top: 16%;
	    margin-left: 15%;
	}
	.reson-5 {
	    position: initial !important;
	    width: 100%;
	    float: left;
	}
	.menu-mobie{
		display: block;
		z-index: 1999;
	}
	.menu{
		display: none;
	}
	.topnav a:not(:first-child) {
		display: none;
	}
	.topnav a.icon {
		float: right;
		display: block;
	}
	.topnav.responsive {
		position: relative;
	}
	.topnav.responsive .icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	.topnav.responsive a {
		float: none;
		display: block;
		text-align: left;
	}
	img.box-media1 {
		margin: 0px auto;
	    display: block;
	    width: 100%;
	}
	.section-two .box-right {
	    max-width: 730px;
	}
	.section-two .box-left, .section-two .box-left1 {
	    padding-left: calc((100% - 900px)/ 2);
	}
	.home-title .title {
	    font-size: 23px;
	}
	.box-left p {
	    font-size: 14px;
	}
	ul.list-menu a {
	    font-size: 13px;
	}
	.pad p {
	    font-size: 17px;
	}
	.slide {
	    padding-top: 0px;
	    margin-top: -10px;
	}
	.menu-mobie{
		position: relative;
	}
	#lienhe {
	    position: absolute;
	    top: 11px;
	    right: 19%;
	    width: 29%;
	}
	.css-modal{
		top:78px;
	}
	.topnav.responsive a:hover {
		background: #5c9a43;
	}
	.section-two .box-left, .section-two .box-left1 {
	    max-width: 100%;
	    padding-left: calc((100% - 1140px)/ 2);
	    padding-right: 150px;
	    z-index: 1;
	}
	.section-two .box-right {
    	position: relative !important; 
	    top: 0;
	    right: 0;
	    max-width: 950px;
	    z-index: -1;
	}
	.section-two .box-left, .section-two .box-left1 {
	    padding-left: calc((100% - 400px)/ 2);
	}
	.box-media-body, .box-media-left {
	    display: block;
	}
	.img-responsive{
		margin:0px auto;
	}
	.box-media-left {
	    min-width: 408px;
	    padding-right: 0px; 
	}
	.home-video .video-content .wrap-video .overlay {
		top: -50px;
	}
	.img-responsive{
		display: none !important;
	}
	#to-popup {
	    width: 74%;
	    height: 77.35%;
	    top: 23%;
	    left: 15%;
	}
}
@media only screen and (min-width: 480px) and (max-width: 620px) {
	.ls-tooltip .item.item1 {
	    left: 98px;
	}
	.ls-tooltip .item.item2 {
	    left: 348px;
	}
}
@media only screen and (min-width: 620px) and (max-width: 768px) {
	.ls-tooltip .item.item1 {
	    left: 124px;
	}
	.ls-tooltip .item.item2 {
	    left: 386px;
	}
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
	.ls-tooltip{
		display: none;
	}
	.reson{
		height: auto !important;
	}
	.banner {
	    margin-top: 0px;
	}
	.title{
		display: none;
	}
	.reson-1 {
	    top: 0px;
	    left: 0px;
	    position: none;
	    width: 100%;
	}
	.reson-2 {
	    right: 0px;
	    top: 0px;
	    position: absolute;
	}
	.reson-3 {
	    position: none; 
	    float:left;
	    width: 13%;
	}
	.reson-4 {
	    position: initial !important;
	    width: 62%;
	    float: left;
	    margin-top: 16%;
	    margin-left: 15%;
	}
	.reson-5 {
	    position: initial !important;
	    width: 100%;
	    float: left;
	}
	.menu-mobie{
		display: block;
		z-index: 1999;
	}
	.menu{
		display: none;
	}
	.topnav a:not(:first-child) {
		display: none;
	}
	.topnav a.icon {
		float: right;
		display: block;
	}
	.topnav.responsive {
		position: relative;
	}
	.topnav.responsive .icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	.topnav.responsive a {
		float: none;
		display: block;
		text-align: left;
	}
	img.box-media1 {
		margin: 0px auto;
	    display: block;
	    width: 100%;
	}
	.section-two .box-right {
	    max-width: 730px;
	}
	.section-two .box-left, .section-two .box-left1 {
	    padding-left: calc((100% - 900px)/ 2);
	}
	.home-title .title {
	    font-size: 23px;
	}
	.box-left p {
	    font-size: 14px;
	}
	ul.list-menu a {
	    font-size: 13px;
	}
	.pad p {
	    font-size: 17px;
	}
	.slide {
	    padding-top: 0px;
	    margin-top: -10px;
	}
	.menu-mobie{
		position: relative;
	}
	#lienhe {
	    position: absolute;
	    top: 11px;
	    right: 19%;
	    width: 50%;
	}
	.css-modal{
		top:78px;
	}
	.topnav.responsive a:hover {
		background: #5c9a43;
	}
	.section-two .box-left, .section-two .box-left1 {
	    max-width: 100%;
	    padding-left: calc((100% - 1140px)/ 2);
	    padding-right: 50px;
	    z-index: 1;
	}
	.section-two .box-right {
    	position: relative !important; 
	    top: 0;
	    right: 0;
	    max-width: 950px;
	    z-index: -1;
	}
	.section-two .box-left, .section-two .box-left1 {
	    padding-left: calc((100% - 400px)/ 2);
	}
	.box-media-body, .box-media-left {
	    display: block;
	}
	.img-responsive{
		margin:0px auto;
	}
	.box-media-left {
	    min-width: 100%;
	    padding-right: 0px; 
	}
	.home-video .video-content .wrap-video .overlay {
		top: -50px;
    	left: -39px;
	}
	.none{
		display: none !important;
	}
	#to-popup {
	    width: 74%;
	    height: 77.35%;
	    top: 23%;
	    left: 2%;
	}
	#title {
	    width: 88%;
	}
	.home-title .title {
	    font-size: 30px;
	    font-weight: 700;
	    color: #5c9a43;
	    line-height: 1; 
	    position: relative;
	    display: inline-block;
	    margin: 20px 0 20px; 
	    color: #fff;
	    font-family: 'Exo 2', sans-serif;
	}
	.box-left1 p{
		margin-left: 10px;
	}
	.bt-control span{
		margin-left: 10px;
	}
	img.repon{
		width: 100%;
	}
}
@media only screen and (min-width: 1200px) and (max-width: 1400px) {
	.reson {
	    height: 1217px;
	}
}
@media only screen and (min-width: 1100px) and (max-width: 1200px) {
	.reson {
	    height: 1107px;
	}
}
@media only screen and (min-width: 1000px) and (max-width: 1100px) {
	.reson {
	    height: 1004px;
	}
}
@media only screen and (min-width: 992px) and (max-width: 1000px) {
	.reson {
	    height:920px ;
	}
}
